body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #FFFAFA;
}

.App {
    min-width: 1000px;
}

.nav {
    background: #4876c3;
    display: flex;
    height: 56px;
    color: white;
    padding-right: 16px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

    &__wrapperLogo {
        display: flex;
        height: 100%;
    }

    &__desktop {
         display: flex;
    }

    &__mobile {
        display: none;
    }

    &__iconMenu {
        display: none;
    }

    &__logoDesktop {
        display: inline;
    }

    &__logoMobile {
        display: none;
    }

    &__left {
        display: flex;
        align-items: center;
        min-width: 1145px;
        max-width: 1400px;
        width: 100%;
    }

    &__logo {
        min-width: 200px;
        padding: 0px 16px;
        padding-bottom: 3px;
        align-self: flex-end;
        cursor: pointer;
    }

    &__wrapper {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    &__list {
        display: flex;
        margin-left: auto;
        height: 100%;
    }

    &__item{
        font-weight: bold;
        padding: 0 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__item:hover {
        background: #5d8bd9; 
    }
    &__text {
        align-items: center;
        display: flex;

        i {
            padding-left: 10px;
            margin-right: -10px;
        }
    }

    &__right {
        margin-left: auto;
        height: 100%;
    }

    &__rightElements {
        height: 100%;
        display: flex;
    }

    &__icon {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;
    }

    &__icon:hover {
        background: #5d8bd9; 
    }

    &__img {
        width: 100%;
    }

    &__wrapperImg {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__natification {
        position: absolute;
        top: 11px;
        right: 16px;
        width: 15px;
        height: 15px;
        font-size: 12px;
        background: red;
    }
}

.search {
    height: 100%;

    &__elements {
        height: 100%;
        display: flex;
    }
    &__icon {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;
    }

    &__icon:hover {
        background: #5d8bd9; 
    }

    &__icon:nth-child(2) {
        position: relative;
        z-index: 99999;
    }

    &__opacity:hover {
        background: transparent;
        cursor: auto;
    }

}

.inputsearch {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 0px;
    visibility: hidden;
    overflow: hidden;
    right: 0;

    &.visible.start {
        animation: animationOpenInputSearch .6s forwards;
    }

    &.hide.start {
        animation: animationCloseInputSearch .6s forwards;
    }

    &__input {
        width: 100%;
        height: 40px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 0;
        border: 0;
        outline: none;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__wrapper {
        display: flex;
        position: absolute;
        align-items: center;
        width: 845px;
        right: 64px;
    }

    &__btn {
        width: 70px;
        height: 40px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: white;
        background: #ffc120;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    &__btn:hover {
        background: #ffce4f;
    }

    &__icon {
        position: absolute;
        color: lightgrey;
        height: 24px;
        margin-top: 2px;
        margin-left: 8px;
    }

    &__clear {
        position: absolute;
        margin-left: auto;
        color: gray;
        height: 24px;
        margin-top: 2px;
        right: 70px;
        cursor: pointer;
    }
}


@keyframes animationOpenInputSearch {
    0% {
      width: 0px;
      visibility: hidden;
    }

    100% {
       width: 912px;
       visibility: visible;
        
    }
  }

  @keyframes animationCloseInputSearch {
    0% {
        width: 912px;
        visibility: visible;
      
    }

    100% {
        width: 0px;
        visibility: hidden;
        
    }
  }


  .bottomSearch {
    position: absolute;
    top: 52px;
    right: 64px;
    width: 805px;
    padding: 20px;
    background: #fff;
    color: black;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    &__header,
    &__middle,
    &__footer {
        display: flex;
        align-items: center;
    }

    &__middle {
        padding: 20px 0;
    }

    &__container {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
      }

      &__container--mobile {
          display: none;
      }

      &__input {
            width: 330px;
            height: 40px;
            padding: 0 10px;
            border-radius: 3px;
            border: 1px solid lightgray;
      }

      &__select {
          width: 150px;
          height: 40px;
          padding: 10px;
          border-radius: 3px;
          background: #F5F5F5;
          border: 1px solid lightgrey;
          margin-left: 30px;
          appearance: none;
          background-image: url('../../assets/icons/arrow.svg');
          background-repeat: no-repeat;
          background-position: 95% 60%;
      }

      &__text {
          padding-left: 35px;
          padding-right: 30px;
      }

      &__text--footer {
            padding-left: 35px;
            padding-right: 40px;
      }

      &__checkmark {
        position: absolute;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid #d3d3d3;
        border-radius: 3px;
        background-color: #eee;
      }

      &__container input:checked ~ &__checkmark {
        background-color: #8fc04f;
        border: 2px solid #8fc04f;
      }

      &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      &__container input:checked ~ &__checkmark:after {
        display: block;
      }
      
        &__checkmark:after {
            width: 20px;
            height: 20px;
            background-image: url('../../assets/icons/check.svg');
            background-repeat: no-repeat;
        }

  }


  @media screen and (max-width: 1360px) {
      .nav {
            &__wrapper {
                justify-content: center;
            }

            &__list {
                margin-left: unset; 
            }

            &__left {
                min-width: 850px; 
            }

            &__item {
                padding-left: 5px;
                padding-right: 0;

                i {
                    padding: 0;
                    margin: 0;
                }
            }

            &__item:nth-child(2) {
                padding-right: 5px;
            }

            &__text {
                font-size: 14px;
            }

            &__icon {
                padding: 0 10px;
            }

            &__natification {
                right: 6px;
            }
      }

      .search {
          &__icon {
              padding: 0 10px;
          }
      }

      .inputsearch {
        right: calc(50% - 304px);
        &__wrapper {
            width: 568px;
            right: 43px;
        }

        @keyframes animationOpenInputSearch {
            0% {
              width: 0px;
              visibility: hidden;
            }
        
            100% {
               width: 615px;
               visibility: visible;
                
            }
          }
        
          @keyframes animationCloseInputSearch {
            0% {
                width: 615px;
                visibility: visible;
              
            }
        
            100% {
                width: 0px;
                visibility: hidden;
                
            }
          }
      }

      .bottomSearch {
        right: calc(50% - 261px);
        width: 528px;
      }
  }

  @media screen and (max-width: 1024px) {
      .nav {
          &__logo {
              min-width: 150px;
          }
      }
  }

  @media screen and (max-width: 414px) {

    .App {
        min-width: 414px;
    }
    .nav {
        box-shadow: none;
        padding-right: 0;
        height: auto;
        flex-direction: column;
        padding: 0;

        &__desktop {
            display: none;
        }

        &__logo {
            position: relative;
            min-width: 190px;
            padding: 0;
            top: 0;
        }

        &__logoMobile {
            display: inline;
        }

        &__logoDesktop {
            display: none;
        }

        &__left {
            min-width: 374px;
            padding: 2px 0;
        }

        &__wrapperLogo {
            min-width: 240px;
            align-items: center;
            justify-content: space-between;
        }

        &__wrapper {
            margin-left: auto;
            width: auto;
        }

        &__iconMenu {
            display: block;
            padding: 10px 20px;
            cursor: pointer;
        }

        &__right {
            margin-left: unset;
        }

        &__rightElements {
            width: 100%;
            justify-content: space-around;
        }

        &__wrapperImg {
            width: 28px;
            height: 28px;
        }

        &__icon {
            padding: 10px;
        }

        &__icon:nth-child(3) {
            padding: 8px;
        }

        &__icon:hover {
            background: transparent;
        }

        &__natification {
            right: 6px;
            top: 5px;
        }

        &__mobile {
            display: block;
        }
    }

    .search {
        &__desktop {
            display: none;
        }

        &__icon {
            padding: 10px 22px;
        }

        &__icon:hover {
            background: transparent;
        }
    }

    .inputsearch {
        right: 18px;
        padding: 5px 0;

        &.hide.start {
            animation: animationCloseInputSearch .3s forwards;
        }
    
        &.visible.start {
            animation: animationOpenInputSearch .3s forwards;
        }

        &__wrapper {
            width: 377px;
            right: 2px;
        }
        
    }

    .bottomSearch {
        top: 46px;
        right: 23px;
        width: 330px;
        z-index: 99999;

        &__footer {
            flex-direction: column;
            align-items: baseline;
        }

        &__container {
            padding: 10px 0;
        }

        &__container--mobile {
            display: flex;
        }
  
    }

    @keyframes animationOpenInputSearch {
        0% {
          width: 0px;
          visibility: hidden;
        }
    
        100% {
           width: 390px;
           visibility: visible;
        }
      }
    
      @keyframes animationCloseInputSearch {
        0% {
            width: 390px;
            visibility: visible;
          
        }
    
        100% {
            width: 0px;
            visibility: hidden;
        }
      }
}

